stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - docker-compose build --no-cache
  tags:
    - shell  # Changed from 'windows' to 'shell' to match runner's tag

test:
  stage: test
  script:
    - docker-compose up -d
    - docker ps  # Check container status
    - docker exec devops-project-service1-1 python -m pytest tests/test_state_management.py -v  # Run tests for service1 in docker container
  tags:
    - shell  

deploy:
  stage: deploy
  script:
    - docker-compose up -d
  tags:
    - shell   