version: '3.8'

services:
  service1:
    image: service1-image
    build:
      context: ./service1
      dockerfile: Dockerfile
    ports:
      - "8199"
    volumes:
      - ./:/app 
      - /var/run/docker.sock:/var/run/docker.sock # Mount the Docker socket
    working_dir: /app/service1  # Set the working directory
    deploy:
      replicas: 3  # Create 3 instances of service1
    networks:
      - app-network

  service2:
    image: service2-image
    build:
      context: ./service2
      dockerfile: Dockerfile
    ports:
      - "8080"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "8198:80"
      - "8197:8197"   # Expose the port 8197
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf
    - ./.htpasswd:/etc/nginx/.htpasswd
    - ./public:/etc/nginx/html     # Mount the HTML directory
    networks: 
      - app-network

networks:
  app-network:
    driver: bridge
